@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-fredoka: "Fredoka", sans-serif;
}

:root {
    --bg-dark: #1C1A2E;
    --bg-foreground: #2F2B4D;
}